@inject WebApplication1.Models.JamesthewContext db

@{
    var contests = db.Contests.ToList();
    var recipes = db.Recipes.ToList();
    var tips = db.Tips.ToList();
    var announcements = db.Announcements.ToList();
}

<!-- sidebar -->
<nav class="sidebar">

    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="#">
            <img src="img/logo.png" alt="">
        </a>

        <a class="small_logo" href="#">
            <img src="img/mini_logo.png" alt="">
        </a>

        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>

    <ul id="sidebar_menu">

        <!-- Dashboard -->
        <li>
            <a href="/Admin/Dashboard">
                <div class="nav_icon_small">
                    <img src="img/menu-icon/dashboard.svg" alt="">
                </div>

                <div class="nav_title">
                    <span>Dashboard</span>
                </div>
            </a>
        </li>

        <!-- Contest -->
        <li>
            <a class="has-arrow" href="#">
                <div class="nav_icon_small">
                    <img src="img/menu-icon/16.svg" alt="">
                </div>

                <div class="nav_title">
                    <span>Contest (@contests.Count)</span>
                </div>
            </a>

            <ul>

                @foreach (var item in contests)
                {
                    <li>
                        <a href="/admin/Contest/Detail/@item.ContestId">
                            @item.Title
                        </a>
                    </li>
                }

            </ul>
        </li>

        <!-- Recipe -->
        <li>
            <a class="has-arrow" href="#">
                <div class="nav_icon_small">
                    <img src="img/menu-icon/16.svg" alt="">
                </div>

                <div class="nav_title">
                    <span>Recipes (@recipes.Count)</span>
                </div>
            </a>

            <ul>

                @foreach (var item in recipes)
                {
                    <li>
                        <a href="/admin/Recipe/Detail/@item.RecipeId">
                            @item.Name
                        </a>
                    </li>
                }

            </ul>
        </li>

        <!-- Tips -->
        <li>
            <a class="has-arrow" href="#">
                <div class="nav_icon_small">
                    <img src="img/menu-icon/16.svg" alt="">
                </div>

                <div class="nav_title">
                    <span>Tips (@tips.Count)</span>
                </div>
            </a>

            <ul>

                @foreach (var item in tips)
                {
                    <li>
                        <a href="/admin/Tips/Detail/@item.TipId">
                            @item.Title
                        </a>
                    </li>
                }

            </ul>
        </li>

        <!-- Announcement -->
        <li>
            <a class="has-arrow" href="#">
                <div class="nav_icon_small">
                    <img src="img/menu-icon/16.svg" alt="">
                </div>

                <div class="nav_title">
                    <span>Announcements (@announcements.Count)</span>
                </div>
            </a>

            <ul>

                @foreach (var item in announcements)
                {
                    <li>
                        <a href="/admin/Announcement/Detail/@item.AnnouncementId">
                            @item.Title
                        </a>
                    </li>
                }

            </ul>
        </li>

    </ul>

</nav>